<template>
  <div @click="click" class="button">Красная кнопка</div>
</template>

<script>
export default {
  methods: {
    click() {
      alert("Хорошего дня!");
    },
  },
};
</script>

<style>
.button {
  display: inline-block;
  border-radius: 50px;
  background: rgb(199, 8, 8);
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
.button:active {
  box-shadow: none;
}
</style>
